*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

#maven target folders
target/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# IntelliJ files
*.iml
*.ipr
*.iws

#BUILD FOLDERS
build

build.sh

clean.sh

com.nowucca.shurely.core/mvnci.txt

com.nowucca.shurely.server/mvnci.txt

com.nowucca.shurely.util/mvnci.txt
